@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
* {
  transition: 0.3s all;
}
a {
  text-decoration: none;
}
.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
}
button {
  margin: 2em auto;
  display: block;
  -webkit-appearance: none;
  border: 6px solid rgba(255, 255, 255, 0.45);
  border-radius: 50px;
  padding: 1em 3em;
  background-repeat: no-repeat;
  background-size: 100%;
  background-clip: padding-box;
  position: relative;
  color: #FFF;
}
button:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 50px;
  z-index: -1;
  filter: blur(14px);
}
button:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 50px;
  z-index: -1;
  filter: blur(14px);
}
.button1 {
  background-image: linear-gradient(90deg, #7b81ec, #3bd1d3);
}
.button1:before {
  background-image: linear-gradient(90deg, #7b81ec, transparent);
}
.button1:after {
  background-image: linear-gradient(90deg, transparent, #3bd1d3);
}
.button2 {
  background-image: linear-gradient(90deg, #fa80d2, #fed757);
}
.button2:before {
  background-image: linear-gradient(90deg, #fa80d2, transparent);
}
.button2:after {
  background-image: linear-gradient(90deg, transparent, #fed757);
}
.mynav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  background-color: #1976D2;
  padding: 0 30px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.24);
}
.mynav__theme {
  outline: none;
  border: none;
  padding: 8px 20px;
  background: #FFE082;
  border-radius: 7px;
  cursor: pointer;
}
.mynav__theme:active {
  box-shadow: inset 0 0 20px -3px rgba(0, 0, 0, 0.6);
}
.mynav__menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  /*------------------------ 14.2 вибрати інший фон , зробити іншу прозорість------------------ */
  background: #9f86ff;
}
.mynav__item {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 15px;
}
.mynav__item:hover {
  background-color: #378fe7;
}
.mynav__link {
  font-size: 15px;
  color: #fff;
}
.mynav__link:hover {
  font-size: 17px;
}
.main {
  padding: 40px 0;
}
.main__content {
  display: flex;
  justify-content: space-around;
  width: 1000px;
  margin: 0 auto;
}
.main__tile {
  padding: 20px;
  width: 18%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.main__tile--danger .main__header,
.main__tile--danger .main__plus {
  color: #E64759;
}
.main__tile--success .main__header,
.main__tile--success .main__plus {
  color: #9F86FF;
}
.main__tile--warning .main__header,
.main__tile--warning .main__plus {
  color: #E4D836;
}
.main__tile--primary .main__header,
.main__tile--primary .main__plus {
  color: #1BC98E;
}
.main__header {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.main__features {
  list-style: none;
  margin: 0 0 40px 0;
  padding: 0 0 0 20px;
}
.main__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 16px;
}
.main__footer {
  text-align: center;
}
.main__button {
  outline: 0;
  padding: 8px 20px;
  cursor: pointer;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 3px;
  font-size: 15px;
  background: transparent;
  text-shadow: 1px 1px 0px #7b0d7a;
  width: 100%;
}
.main__button--danger {
  border-color: #E64759;
}
.main__button--danger:hover {
  background: #E64759;
}
.main__button--danger:active {
  border-color: crimson;
  color: crimson;
  font-weight: bold;
}
.main__button--danger {
  border-color: #E64759;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 20px;
}
.main__button--danger:hover {
  background: #ff2e46;
  color: #008235;
  transform: rotate(-180deg);
}
.main__button--danger {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 20px;
}
.main__button--success {
  border-color: #9F86FF;
}
.main__button--success:hover {
  background: #9F86FF;
}
.main__button--success:active {
  border-color: crimson;
  color: crimson;
  font-weight: bold;
}
.main__button--success {
  border-color: #9F86FF;
}
.main__button--success:hover {
  background: #3a06ff;
  color: #818874;
  font-size: 150%;
}
.main__button--primary {
  border-color: #1BC98E;
}
.main__button--primary:hover {
  background: #1BC98E;
}
.main__button--primary:active {
  border-color: crimson;
  color: crimson;
  font-weight: bold;
}
.main__button--warning {
  border-color: #E4D836;
}
.main__button--warning:hover {
  background: #E4D836;
}
.main__button--warning:active {
  border-color: crimson;
  color: crimson;
  font-weight: bold;
}
.main__button--warning {
  border-color: #E4D836;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 20px;
}
.main__button--warning:hover {
  background: #ffef1b;
  color: #008235;
  transform: rotate(-180deg);
}
.main__button--warning {
  font-family: Georgia, "Times New Roman", serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
}